<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - AgroRent Hub</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href="{% url 'index' %}">AgroRent Hub</a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About Us</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'rental_items' %}">Products</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
            </nav>
        </div>
        <div class="content-section">
            <div class="form-box-resetpassword">
                <form class="input-group-resetpassword"method="post" action="{% url 'resetpassword' uidb64=uidb64 token=token %}">
                    {% csrf_token %}
                    <h1 style="color: white; text-align: center; margin-top: 0;">Reset Password</h1><br><br>
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    <input type="password" class="input-field" name="password" placeholder="New Password" required><br><br>
                    <input type="password" class="input-field" name="confirm_password" placeholder="Confirm Password" required><br><br>
                    <button type="submit" class="submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
