{% extends 'customer_profile.html' %}

{% block content %}
<div class="content-box">
    <h2>Change Password</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="current-password">Current Password:</label>
        <input type="password" id="current-password" name="current-password"><br>
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="new-password"><br>
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password"><br>
        <button type="submit">Update Password</button>
    </form>
</div>
{% endblock %}
